/* KFGQPC Uthman Taha Naskh */
@font-face {
	font-family: "Naskh";
	src: url('https://rawgit.com/vonors/style/master/uthmantn.eot'); /* IE9 Compat Modes */
	src: local('KFGQPC Uthman Taha Naskh'),
		   url('https://rawgit.com/vonors/style/master/uthmantn.eot?iefix') format('eot'), /* IE6-IE8 */
		   url('//www.islambook.com/files/fonts/uthmantn.otf') format('opentype'), 
		   url('//www.islambook.com/files/fonts/uthmantn.woff') format('woff'), /* Modern Browsers */
		   url('//www.islambook.com/files/fonts/uthmantn.ttf') format('truetype'),  /* Safari, Android, iOS */
		   url('//www.islambook.com/files/fonts/uthmantn.svg#svgFontName') format('svg'); /* Legacy iOS */
} 

/* KFGQPC Uthmanic Script Taha HAFS, has problem with the comma etc */

@font-face {
	font-family: "DS-Digital";
	src: url('//www.islambook.com/files/fonts/dsdigib.eot'); /* IE9 Compat Modes */
	src: local('DS-Digital'),
		   url('//www.islambook.com/files/fonts/dsdigib.eot?iefix') format('eot'), /* IE6-IE8 */
		   url('//www.islambook.com/files/fonts/dsdigib.otf') format('opentype'), 
		   url('//www.islambook.com/files/fonts/dsdigib.woff') format('woff'), /* Modern Browsers */
		   url('//www.islambook.com/files/fonts/dsdigib.ttf') format('truetype'),  /* Safari, Android, iOS */
		   url('//www.islambook.com/files/fonts/dsdigib.svg#svgFontName') format('svg'); /* Legacy iOS */
} 

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
	margin-bottom: 0.3em;
	/*padding: .2em .3em;*/
}
.panel-body {
	padding: .4em 1.6em;
}

.flexboxs{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
} 
.flexboxs .btn{
	-webkit-box-flex-grow: 1;
	-moz-box-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

.catbutton {
	font-weight: bold;
	font-size: 1.6em;
	line-height: 100%;
}

.cat-button {
	float:right;
	direction:rtl;
	font-weight: bold;
}

.contentbox {
	width: auto;
	height: auto;
	direction:rtl;
	font-size: 18px;
}

.contents {
	margin: 0 auto;
	direction: rtl;
	font-size: 1em;
	padding: 0px;
	/*border:  01px 01px 1px 01px dashed  blue;*/ /* entire area, tabs and contents */
}

.zekr-style {
   font-size: 1.8em;
   font-weight: bold;
   line-height: 150%;
}

.listing-table{
	direction:ltr;
}

.zkername{
	direction:rtl;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
.zkername a{
	font-weight: bold;
	font-size: 1.5em;
}

.numbering{
	width: 3em;
}
.zekr{
	direction:rtl;
	padding: 10px;
}

.zekrcount{
	padding: 5px;
	font-weight: bold;
}

.zekrbless{
	direction:rtl;
	font-weight: bold;
	font-size: 1.2em;
	padding: .4em;
}
.azkarinfo{
	direction: rtl;
	font-weight: bold;
	font-size: 1.2em;
	padding: .4em;
	line-height: 100%;
	cursor: pointer;
}

.azkarinfobox{
	direction: rtl;
	font-weight: bold;
	font-size: 1.5em;
	padding: .4em;
	line-height: 100%;
	cursor: pointer;
}

.zekrbless-content{
	direction:rtl;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 100%;
}

.numbering1{
	width: 40px;
}

.ui-widget .zekr1{
	width: auto;
	direction:rtl;
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	padding: 10px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.zekrcount1{
	width: 10%;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #f3f3f3;
	border-width: 0px;
}

.zekrbless1 {
	width: 20%;
	direction:rtl;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	padding: 5px;
	color: #000000;
	background-color: #f8f8f8;
	border-width: 0px;
}

.inline {
	display:inline;
}
.subtitle{
	color: #ff8000;
}

.pagetitle{
	color: #bbbbbb;
	font-weight: bold;
	font-size: 16px;
}

.numbering-hover, .numbering-hover1{
	color: #333300;
	background-color: #c1ff84;
}

.zekr-hover, .zekr-hover1{
	direction:rtl;
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	padding: 10px;
	color: #333300;
	background-color: #c1ff84;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px #cacaca solid;
}

.zekrcount-hover, .zekrcount-hover1{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	padding: 5px;
	color: #333300;
	background-color: #c1ff84;
	border-width: 0px;
}

.zekrbless-hover, .zekrbless-hover1{
	direction:rtl;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	padding: 5px;
	color: #333300;
	background-color: #c1ff84;
	border-width: 0px;
}
/*-----row click--------*/
.numbering-click, .numbering-click1{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	padding: 2px 5px 2px 5px;
	color: #333300;
	background-color: #ffff79;
	border-width: 0px;
}

.zekr-click, .zekr-click1{
	direction:rtl;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	padding: 10px;
	color: #333300;
	background-color: #ffff79;
	border-width: 0px;
}

.zekrcount-click, .zekrcount-click1{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	padding: 5px;
	color: #333300;
	background-color: #ffff79;
	border-width: 0px;
}

.zekrbless-click, .zekrbless-click1{
	direction:rtl;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	padding: 5px;
	color: #333300;
	background-color: #ffff79;
	border-width: 0px;
}

.ui-widget .zekrinfo{
	
	direction:rtl;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	padding: 10px;
}

.facebookzekr{
	border: 0;
	cursor: pointer;
	margin-left:5px;
	margin-right:5px;
}
.tweetzekr{
	border: 0;
	cursor: pointer;
	margin-left:5px;
	margin-right:5px;
}
.copyzekr{
	border: 0;
	cursor: pointer;
	margin-left:5px;
	margin-right:5px;
}
.copyzekrbox{
	border: 0;
	cursor: default;
	margin-left:5px;
	margin-right:5px;
	font-size: 1em;
}
.whatsappzekr{
	border: 0;
	cursor: pointer;
	margin-left:5px;
	margin-right:5px;
}
.telegramzekr{
	border: 0;
	cursor: pointer;
	margin-left:5px;
	margin-right:5px;
}
.gpluszekr{
	border: 0;
	cursor: pointer;
	margin-left:5px;
	margin-right:5px;
}

#azkarnav .ui-button {
	direction: rtl;
}
#azkarnav .ui-button .ui-button-text {
	/*line-height: 1em;*/
	direction: rtl;
	line-height: 1em;
	white-space: nowrap;
}


.azkar-nav-menu{
	vertical-align:middle;
	direction: rtl;
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;
}
.azkar-nav-menu .ui-button {
	vertical-align:middle;
	direction: rtl;
	padding: 0.0em 1.4em 0em 0em;
}
.azkar-nav-menu .ui-button .ui-button-text {
	/*line-height: 1em;*/
	direction: rtl;
	padding: 0.3em 0.5em;
	line-height: 1em;
	white-space: nowrap;
}
.subzekr {
	margin-bottom: 10px;
}


.zekr-count {
	vertical-align: bottom;
	line-height: normal;
	text-align: right;
	font-size: .9em;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	/* IE 5-7 */
	filter: alpha(opacity=40);
	/* Netscape */
	-moz-opacity: 0.4;
	/* Safari 1.x */
	-khtml-opacity: 0.4;
	/* Good browsers */
	opacity: 0.4;
}

.zekr-count{
	font-weight: normal;
}
.count-clock {
	font-size: 1.8em;
	font-weight: normal;
	text-align:center;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	/* IE 5-7 */
	filter: alpha(opacity=10);
	/* Netscape */
	-moz-opacity: 0.1;
	/* Safari 1.x */
	-khtml-opacity: 0.1;
	/* Good browsers */
	opacity: 0.1;
}

.zekr-counter {
	width: 100%;
	height: 99%;
	font-family: "DS-Digital";
	font-size: 1.8em;
	font-weight: normal;
	line-height:normal;
	vertical-align: middle;
	cursor:pointer;
	padding: .2em;
	margin: 0px;
}
.count-down {
	text-align:center;
	font-family: "DS-Digital";
	font-size: 1.8em;
	line-height:normal;
	font-weight: normal;
}

/* windows phone does not support loading custom fonts, so reduce in sm mode */
@media (min-width: 480px) and (max-width: 767px) {
	.visible-ms-block {
		display: block !important;
	}

	.zekr-counter {
		font-size: 1.2em;
	}
	.count-down {
		/*font-size: 1.8em;*/
	}

}
